.card-img-top {
  object-fit: cover;
}

.btn-info {
  background-color: #00C7BE;
  border-color: #00C7BE;
}

.btn-info:hover {
  background-color: #00B7AE;
  border-color: #00B7AE;
}

.btn-danger {
  background-color: #DC3545;
  border-color: #DC3545;
}

.btn-danger:hover {
  background-color: #C82333;
  border-color: #C82333;
}
