<% @memories.each do |memorie| %>
  <div>
    <%= link_to memorie.title, memory_path(memorie) %>

    <% if memorie.images.attached? %>
      <%= cl_image_tag memorie.images.first.key, height: 300, width: 400 %>
    <% else %>
      <%= image_tag "Lune.jpg", height: 300, width: 400 %>
    <% end %>

  </div>
<% end %>
